.nodeName {
  font-weight: 700;
  text-decoration: none;
  color: var(--text-color);
  &:hover {
    text-decoration: underline;
  }
}

.nodeQueue {
  font-weight: 300;
  text-decoration: none;
  color: var(--text-color);
  &:hover {
    text-decoration: underline;
  }
}

.nodeStatus {
  font-weight: 300;
  font-size: 0.7rem;
  font-family: 'Courier New', Courier, monospace;
  color: var(--text-muted);
}

.nodeSubHeader {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.parentNodeContainer {
  padding: 0;
}

.parentJob {
  font-size: 1.25em;
}

/*
 * Credit:
 * https://stackoverflow.com/a/14424029/1017055
 */
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
}
li {
  list-style-type: none;
  border-left: 2px solid var(--separator-color);
  margin-left: 2em;
}

li > div {
  padding-left: 1em;
  position: relative;
  padding-top: 1em;
}
li div::before {
  content: '';
  position: absolute;
  top: 0;
  left: -2px;
  bottom: 55%;
  width: 0.75em;
  border: 2px solid var(--separator-color);
  border-top: 0 none transparent;
  border-right: 0 none transparent;
}

ul > li:last-child {
  border-left: 2px solid transparent;
}

.parentNode > div::before {
  content: '';
  position: absolute;
  top: 0;
  left: -2px;
  bottom: 55%;
  width: 5em;
  border: 0 none transparent;
  border-top: 0 none transparent;
  border-right: 0 none transparent;
}

li.parentNode {
  border: 0 none transparent;
}
