.aside {
  position: fixed;
  z-index: 99;
  top: var(--header-height);
  left: 0;
  bottom: 0;
  width: var(--menu-width);
  background: linear-gradient(
    to bottom,
    hsl(217, 22%, 20%),
    hsl(217, 22%, 16%) 80%,
    hsl(217, 22%, 12%)
  );
  padding-top: 1rem;
  color: #d5d9dc;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 0 8px 3px rgba(38, 46, 60, 0.1);
}

.aside .secondary {
  color: #828e97;
  font-size: 0.833em;
  padding: 0 1rem;
}

.aside nav {
  flex: 1;
  overflow-y: auto;
}

.appVersion {
  text-align: center;
  text-decoration: none;
}

.searchWrapper {
  color: #f5f8fa;
  position: relative;
  padding: 1rem;
  margin-top: 0.5rem;
}

.searchWrapper svg {
  width: 1rem;
  height: 1rem;
  position: absolute;
  pointer-events: none;
  top: 1.75rem;
  left: 1.75rem;
  stroke-width: 2px;
  color: #828e97;
}

.search.search {
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 9999px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  height: 2.5rem;
  padding: 0 1rem 0 2rem;
  font-family: inherit;
  color: #f5f8fa;
  line-height: 2.5rem;
  transition: border-color 120ms ease-in-out;
  box-shadow: none !important;
}

.search.search:focus-visible,
.search.search:focus,
.search.search:active {
  border: 2px solid #4abec7;
  outline: 0;
}
