.stickyHeader {
  position: sticky;
  top: var(--header-height);
  z-index: 2;
  background-color: var(--body-bg);
  margin: 0 calc(var(--body-padding) * -1);
  padding: 0 var(--body-padding);
}

.actionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
}

.actionContainer:empty {
  display: none;
}

@media (max-width: 768px) {
  .actionContainer {
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;
  }
}
