.overview {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 2rem;
  list-style: none;
  margin: 2rem 0 0;
  padding: 0;
}

.message {
  margin-top: 2rem;
  white-space: pre-line;
  line-height: 1.5rem;

  a {
    color: var(--accent-color);
    text-decoration: none;

    &:hover {
      color: var(--accent-color-d1);
    }
  }
}
