node_modules/
.DS_Store
dist
yarn-error.log
*.rdb
website/build
docker-compose.dockest-generated.yml
dockest-error.json
.idea/

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
