.field > label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: block;
}

.field + .field {
  margin-top: 1rem;
}

.field > input,
.field > select {
  font-size: 0.875rem !important;
  background-color: #ffffff;
  line-height: 1.25rem !important;
  display: block;
  width: 100%;
  margin-top: 0.25rem !important;
}

.field.inline {
  display: flex;
  align-items: center;
}

.dark {
  background-color: #1a1a1a;
  color: white;
}

.dark .field > label {
  color: white;
}

.dark input,
.dark select {
  background-color: #1a1a1a !important;
  color: white;
}


