.field > label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: block;
}

.field + .field {
  margin-top: 1rem;
}

.field > input,
.field > select {
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
  display: block;
  width: 100%;
  margin-top: 0.25rem !important;
}

.field.inline {
  display: flex;
  align-items: center;
}
