.jobLogs {
  margin: 0 10px 0 0;
  color: #000;
  position: relative;
  border-radius: 4px;
}

.preWrapper {
  padding: 0 15px;
  padding-top: 20px;
  max-height: 100%;
  overflow: auto;
  height: 330px;
  background: #FFF;
}

.preWrapper span {
  display: block;
  white-space: pre-wrap;
  word-break: break-all;
}

.preWrapper span i {
  color: #999;
  font-style: normal;
}

.preWrapper::-webkit-scrollbar {
  width: 0.35rem;
}

.preWrapper::-webkit-scrollbar-track {
  padding: 2px;
  margin-top: 15px;
}

.preWrapper::-webkit-scrollbar-thumb {
  background-color: #cbd5e0;
  border-radius: 4px;
}

.jobLogs:fullscreen .preWrapper {
  height: 100%;
  padding-top: 55px;
  padding-bottom: 10px;
}

.jobLogs:fullscreen .preWrapper::-webkit-scrollbar {
  width: 0.55rem;
}

.logsToolbar {
  position: absolute;
  top: -30px;
  right: 0px;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  padding-bottom: 3px;
  text-align: right;
  z-index: 9;
  backdrop-filter: blur(4px);
  display: flex;
}

.jobLogs:fullscreen .logsToolbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding-bottom: 15px;
}

.logsToolbar form {
  display: inline-block ;
}

.logsToolbar button {
  margin-left: 1rem;
  font-size: 1rem;
  padding: 0.65rem;
}

.logsToolbar form {
  flex: 1;
  text-align: left;
}

.logsToolbar .searchBar {
  padding: 5px 15px;
  border-radius: 4px;
  border-bottom-right-radius: 0;
  border: none;
  outline: none;
  width: 100%;
  box-shadow: none !important;
  border-bottom: 1px solid #e0e7eb;
}

.jobLogs:fullscreen .logsToolbar .searchBar {
  padding: 10px 15px;
  font-size: 1.25rem;
}

.logsToolbar button svg {
  width: 0.6rem;
  height: 0.6rem;
}
