.jobLogs {
  margin: 0;
  overflow: hidden;
  position: relative;
  background: var(--job-logs-bg);
  height: 100%;
}

.preWrapper {
  padding: 40px 0.5rem 0.5rem;
  max-height: 100%;
  overflow: auto;
}

.preWrapper ol {
  display: block;
  white-space: pre-wrap;
  word-break: break-all;
}

.preWrapper ol li {
  padding-inline-start: 1rem;
}

.preWrapper ol li::marker {
  color: var(--job-logs-marker-color);
  content: attr(data-line-number);
}

.preWrapper::-webkit-scrollbar {
  width: 0.5rem;
}

.preWrapper::-webkit-scrollbar-track {
  padding: 2px;
  background: var(--job-logs-scrollbar-track-bg);
}

.preWrapper::-webkit-scrollbar-thumb {
  background-color: var(--job-logs-scrollbar-thumb-bg);
  border-radius: 4px;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 1rem;
  background: var(--job-logs-toolbar-bg);
  backdrop-filter: blur(4px);
  padding: 0 0 0.5rem 0.5rem;
  margin: 0;
  list-style: none;
  text-align: right;
  z-index: 1;
  display: flex;
}

.toolbar > li:first-child {
  flex: 1;
}

.toolbar > li button {
  height: 100%;
}

.toolbar > li + li {
  margin-left: 0.5rem;
}

.jobLogs:fullscreen .toolbar {
  position: fixed;
  padding: 1rem;
}

.jobLogs:fullscreen .preWrapper {
  height: 100%;
  padding: 60px 1rem 1rem;
}

.toolbar .searchBar {
  width: 100%;
}

.logLineCopyButton {
  opacity: 0;
  transition: opacity 150ms ease-in;
  margin-inline-start: 1ch;
}

li:hover .logLineCopyButton {
  opacity: 1;
}
