.jobLogs {
  margin: 0;
  overflow: hidden;
  position: relative;
  background: #fff;
}

.preWrapper {
  padding: 40px 1rem 1rem;
  max-height: 100%;
  overflow: auto;
  height: 330px;
}

.preWrapper ol {
  display: block;
  white-space: pre-wrap;
  word-break: break-all;
}

.preWrapper ol li::marker {
  color: #a0aec0;
  content: attr(data-line-number);
}

.preWrapper::-webkit-scrollbar {
  width: 0.5rem;
}

.preWrapper::-webkit-scrollbar-track {
  padding: 2px;
  background: rgba(255, 255, 255, 0.2);
}

.preWrapper::-webkit-scrollbar-thumb {
  background-color: #cbd5e0;
  border-radius: 4px;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 15px;
  right: 15px;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(4px);
  padding: 0 0 1rem;
  margin: 0;
  list-style: none;
  text-align: right;
  z-index: 1;
  display: flex;
}

.toolbar > li:first-child {
  flex: 1;
}

.toolbar > li button {
  height: 100%;
}

.toolbar > li + li {
  margin-left: 0.5rem;
}

.jobLogs:fullscreen .toolbar {
  position: fixed;
  padding: 1rem 0;
}

.jobLogs:fullscreen .preWrapper {
  height: 100%;
  padding-top: 1rem !important;
}

.toolbar .searchBar {
  width: 100%;
}
