.aside {
  position: fixed;
  top: var(--header-height);
  left: 0;
  bottom: 0;
  width: var(--menu-width);
  background: linear-gradient(
    to bottom,
    hsl(217, 22%, 20%),
    hsl(217, 22%, 16%) 80%,
    hsl(217, 22%, 12%)
  );
  padding-top: 1rem;
  color: #d5d9dc;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 0 8px 3px rgba(38, 46, 60, 0.1);
}

.aside > div {
  color: #828e97;
  font-size: 0.833em;
  padding: 0 1rem;
}

.aside nav {
  flex: 1;
  overflow-y: auto;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li + li {
  border-top: 1px solid hsl(206, 9%, 25%);
}

.menu a {
  color: inherit;
  text-decoration: none;
  display: block;
  white-space: nowrap;
  transition: background-color 100ms ease-in;
  border-left: 3px solid transparent;
}

.menu a:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border-left-color: hsl(184, 20%, 30%);
}

.menu a.active {
  background-color: rgba(255, 255, 255, 0.1);
  border-left-color: #4abec7;
}

.name {
    padding: 1rem 1.25rem;
}

.appVersion {
  text-align: center;
}

.stat {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgba(0,0,0, .1);
    border-bottom: 1px solid rgba(255,255,255, .1);
    border-top: 1px solid rgba(255,255,255, .1);
}

.menu a.active + .stat {
    background-color: rgba(255, 255, 255, .1);
}

.menu a:hover + .stat {
    background-color: rgba(255, 255, 255, 0.05);
}

.statItem {
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-right: 1px dashed rgba(255,255,255, .1);
    border-top: 1px dashed rgba(255,255,255, .1);
    font-weight: bold;
    font-size: .8em;
}

.statItem:nth-child(3n) {
    border-right: none;
}

.statItem:nth-child(1),
.statItem:nth-child(2),
.statItem:nth-child(3){
    border-top: none;
}


.statIcon {
    position: absolute;
    left: 5px;
    opacity: .2;
}
