.statusMenu {
  display: flex;
  margin-bottom: 2rem;
  min-height: 2.85714286em;
  border-bottom: 2px solid #e0e7eb;
  align-items: flex-end;
}

.statusMenu > button {
  border: 0;
  border-bottom: 2px solid transparent;
  margin: 0 0 -2px;
  padding: 0.5em 1em;
  color: rgba(0, 0, 0, 0.87);
  text-transform: uppercase;
  background: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  transition: border-bottom-color 200ms ease-in-out, color 0.1s ease;
}

.statusMenu > button:hover,
.statusMenu > button:active {
  border-color: hsl(210, 4%, 50%);
}

.statusMenu > button.active {
  border-color: #1b1c1d;
  color: rgba(0, 0, 0, 0.95);
  font-weight: 700;
}

.badge {
  display: inline-block;
  background-color: #a0aec0;
  border-color: #a0aec0;
  color: #fff;
  font-size: 0.833rem;
  padding: 0.25em 0.75em;
  line-height: 1em;
  text-align: center;
  border-radius: 500rem;
  margin: -0.5em 0 -0.5em 0.5rem;
  font-weight: 400;
}
