body {
  background: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  line-height: 1.5em;
  margin: 0;
}

.timestamps {
  font-size: 0.9em;
}

small {
  font-size: 1em;
  color: #999;
}

main {
  width: 80%;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
article,
li {
  margin: 0;
  line-height: 1.5em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 2em;
  font-weight: 100;
}

h3 {
  font-size: 1.6em;
  padding: 20px;
  font-weight: 100;
}

a {
  color: #6e9896;
}

#header {
  z-index: 99;
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  /* border-bottom: 1px solid #ddd; */
  box-shadow: 'none';
  transition: box-shadow 0.5s ease-in-out;

  line-height: 80px;
  padding: 0 40px;
  box-sizing: border-box;
  font-size: 18px;
}

#header + main {
  padding-top: 100px;
}

table {
  width: 100%;
  padding: 40px;
}

td {
  padding: 24px 8px;
  border-bottom: 1px solid #f2f2f1;
  vertical-align: top;
}

tr:last-child td {
  border-bottom: 1px solid white;
}

th {
  padding: 8px;
  text-align: left;
  vertical-align: bottom;
}

td {
  border-right: 0;
  border-left: 0;
}

tr.highlight {
  border: 2px solid #ee9;
}

tr.highlight td {
  border: 0;
}

.row {
  display: flex;
}

.box {
  flex-grow: 1;
}

.error {
  display: flex;
  font-weight: 100;
  color: #cd5c5c;
}

.menu-list {
  display: flex;
  border-bottom: 1px solid #dde;
  padding-left: 10px;
}

.menu-item {
  padding: 10px;
  border-radius: 8px 8px 0 0;
}

.menu-item.on {
  cursor: pointer;
}

.menu-item.off {
  color: #999;
}

.menu-item.selected {
  background: #dde;
}

.menu-item.on:hover {
  background: #eef;
}

section {
  margin: 20px 0;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.menu-item .count {
  padding: 2px 5px;
  border-radius: 18px;
  min-width: 32px;
  display: inline-block;
  text-align: center;
}

.menu-item.on .count {
  background: #eef;
  color: #445;
  border: 1px solid #dde;
}

.menu-item.off .count {
  color: #aab;
  border: 1px solid #eee;
}

.menu-item.on.active .count {
  background: #ddf;
  color: #448;
  border: 1px solid #aae;
}

.menu-item.on.completed .count {
  background: #dfd;
  color: #484;
  border: 1px solid #aea;
}

.menu-item.on.failed .count {
  background: #fdd;
  color: #844;
  border: 1px solid #eaa;
}

.menu-item.on.delayed .count {
  background: #ffb;
  color: #881;
  border: 1px solid #ddb;
}

button {
  background: #333;
  margin: 10px;
  padding: 12px 12px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-radius: 8px;
  border: none;
  outline: none;
}

button:hover {
  background: #555;
}

button:active {
  position: relative;
  top: 1px;
}

/* Progress bar */

.progress-wrapper {
  background: #eee;
}

.progress-bar {
  transition: width 2s;
  background: #9f9;
  border-right: 2px solid rgba(0, 0, 0, 0.1);
  text-align: right;
  color: #070;
}
