:root {
  --menu-width: 260px;
  --header-height: 80px;
}

body {
  background: #f5f8fa;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  line-height: 1.25em;
  margin: 0;
  font-size: 16px;
  color: #454b52;
}

html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

#root {
  height: inherit;
}

small {
  font-size: 0.833em;
  opacity: 0.85;
}

main {
  padding-left: var(--menu-width);
  min-height: 100%;
}

main > div {
  padding: 2rem;
}

button {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
article,
li {
  margin: 0;
  line-height: 1.5em;
}
