.codeContainerWrapper {
  display: flex;
  align-items: flex-start;
  gap: 1ch;
}

.codeContainerWrapper pre {
  flex: 1;
}

.copyBtn {
  opacity: 0;
  transition: opacity 150ms ease-in;
}

.codeContainerWrapper:hover .copyBtn {
  opacity: 1;
}
