.wrapper {
  display: flex;
  align-items: center;
  gap: 0.15rem;
  font-size: 0.75rem;
}

.wrapper > button {
  padding: 0.35em 0.5em;
}

.label {
  display: inline-flex;
  align-items: center;
  gap: 0.35em;
}

.icon {
  display: inline-flex;
  align-items: center;
}

.icon > svg {
  width: 0.9em;
  height: 0.9em;
  fill: currentColor;
}
