.button {
  font-size: 0.9rem;
  background: none;
  border: none;
  border-radius: 0.28571429rem;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
  padding: 0.65em 0.92857143em;
  color: inherit;
  font-family: inherit;
  vertical-align: baseline;
  min-height: 1em;
  display: inline-block;
  text-transform: none;
  text-shadow: none;
  font-weight: 400;
  transition: background-color 150ms ease-in-out;
}

.button + .button {
  margin-inline-start: 0.5rem;
}

.button.default > svg {
  width: 1.25em;
  height: 1.25em;
  vertical-align: middle;
  display: inline-block;
  fill: var(--button-icon-fill);
}

.button.default:hover,
.button.default:focus {
  background-color: var(--button-default-hover-bg);
}

.button.default:active,
.button.default.isActive {
  background-color: var(--button-default-active-bg);
}

.button.default:hover > svg,
.button.default:focus > svg {
  fill: var(--button-icon-fill);
}

.button.basic {
  color: var(--button-basic-color);
  box-shadow: var(--button-basic-box-shadow);
}

.button.basic:focus {
  background: var(--button-basic-focus-bg);
  color: var(--button-basic-focus-color);
  box-shadow: var(--button-basic-focus-box-shadow);
}

.button.basic:hover {
  background: var(--button-default-hover-bg);
  color: var(--button-basic-focus-color);
  box-shadow: var(--button-basic-box-shadow);
}

.button.basic:active {
  background: var(--button-basic-active-bg);
  color: var(--button-basic-active-color);
  box-shadow: var(--button-basic-active-box-shadow);
}

.button.primary {
  background-color: var(--button-primary-bg);
  color: var(--button-primary-color);
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--button-primary-hover-bg);
}
.button.primary:active {
  background-color: var(--button-primary-active-bg);
}
