.header {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  transition: box-shadow 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80px;
  box-sizing: border-box;
  font-size: 1.44rem;
}

.header.floating {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

.header > nav {
    width: 80%;
    margin: auto;
}

.header + main {
  padding-top: 100px;
}
