.searchWrapper {
  position: relative;
  padding: 1rem;
  margin: 0.5rem 0 1rem;
}

.searchWrapper svg {
  width: 1rem;
  height: 1rem;
  position: absolute;
  pointer-events: none;
  top: 1.75rem;
  left: 1.75rem;
  stroke-width: 2px;
  color: #828e97;
}

.search.search {
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 9999px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  height: 2.5rem;
  padding: 0 1rem 0 2rem;
  font-family: inherit;
  line-height: 2.5rem;
  transition: border-color 120ms ease-in-out;
  box-shadow: none !important;
}

.search.search:focus-visible,
.search.search:focus,
.search.search:active {
  border: 2px solid #4abec7;
  outline: 0;
}
