.statusMenu {
    display: flex;
    margin-bottom: 2rem;
    border-bottom: 2px solid #e0e7eb;
}

.statusMenu > a {
    text-decoration: none;
    border-bottom: 2px solid transparent;
    margin: 0 0 -2px;
    padding: 0.5em 1em;
    color: rgba(0, 0, 0, 0.87);
    transition: border-bottom-color 200ms ease-in-out, color 0.1s ease;
    display: flex;
    align-items: center;
}

.statusMenu > a span {
    flex: 1;
}

.statusMenu > a span:before {
    display: block;
    content: attr(title);
    font-weight: 600;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.statusMenu > a:hover,
.statusMenu > a:active {
    border-color: hsl(210, 4%, 50%);
}

.statusMenu > a.active {
    border-color: #1b1c1d;
    color: rgba(0, 0, 0, 0.95);
    font-weight: 500;
}

.statusMenu > div {
    flex: 1;
    text-align: right;
}

.badge {
    display: inline-block;
    background-color: #a0aec0;
    border-color: #a0aec0;
    color: #fff;
    font-size: 0.833rem;
    padding: 0.25em 0.75em;
    line-height: 1em;
    text-align: center;
    border-radius: 500rem;
    margin: -0.5em 0 -0.5em 0.5rem;
    font-weight: 400;
}

.displayStatus {
    white-space: nowrap;
}