.queueActions {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.queueActions > li + li {
  margin-left: 0.25rem;
}

.queueActions .button > svg {
  fill: var(--card-text-secondary-color);
  margin: -0.25em 0.5em 0 0;
}

.queueActions .button:hover > svg,
.queueActions .button:focus > svg {
  fill: var(--accent-color-d1);
}

/* Mobile styles */
@media (max-width: 768px) {
  .queueActions {
    padding: 0 0.33rem;
  }
}
