.queueCard {
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}

.link {
  color: inherit;
  display: block;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
}

.link:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
