.stats {
  display: flex;
  white-space: nowrap;
  gap: 1rem;
  align-items: center;
}

.progressBar {
  width: 100%;
  display: flex;
  overflow: hidden;
  height: 1rem;
  border-radius: 9999px;
  background-color: var(--separator-color);
  line-height: 1;
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  z-index: 10;
}

.progressBar > .bar {
  padding: 0.125rem;
  transition: width 0.3s ease-in, opacity 0.2s ease-in-out;

  min-width: min-content;
  text-decoration: none;
}

.progressBar > .bar,
.progressBar > .bar:visited,
.progressBar > .bar:active {
  color: inherit;
}

.progressBar > .bar:hover {
  opacity: 0.75;
}

.progressBar > .bar + .bar {
  border-left: 2px solid var(--card-bg);
}

.waiting {
  background-color: var(--waiting);
}

.waitingChildren {
  background-color: var(--waiting-children);
}

.prioritized {
  background-color: var(--prioritized);
}

.completed {
  background-color: var(--completed);
}

.failed {
  background-color: var(--failed);
}

.active {
  background-color: var(--active);
}

.delayed {
  background-color: var(--delayed);
}

.paused {
  background-color: var(--paused);
}
