.header {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--header-bg);
  transition: box-shadow 0.5s ease-in-out;
  display: flex;
  height: var(--header-height);
  box-sizing: border-box;
  border-bottom: 1px solid transparent;
}

.header > .logo {
  width: var(--menu-width);
  flex-basis: var(--menu-width);
  flex-shrink: 0;
  white-space: nowrap;
  text-align: start;
  font-size: 1.44rem;
  height: inherit;
  line-height: var(--header-height);
  background-color: hsl(217, 22%, 24%);
  color: #f5f8fa;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  z-index: 2;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  text-decoration: none;
  overflow: hidden;
}

.header > .logo > span {
  overflow: hidden;
  text-overflow: ellipsis;
}

.header > .logo > .img {
  max-height: 100%;
  width: auto;
  margin-right: 0.4em;
}

.header > .logo > .img.default {
  width: 1.2em;
  margin-bottom: 0.2em;
}

.header .content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  overflow: hidden;
}

.header + main {
  padding-top: var(--header-height);
}
