.progress {
  width: 80px;
  height: 80px;
}

.progress svg {
  display: block;
}

.progress circle {
  transition: stroke-dashoffset 500ms ease-in-out;
  fill: none;

  &:first-child {
    stroke: var(--border);
  }

  &.failed {
    stroke: var(--status-failed);
  }

  &.success {
    stroke: var(--status-completed);
  }
}

.progress text {
  font-size: 1.3rem;
  font-family: inherit;
  font-weight: 300;
  fill: var(--muted-foreground);
}

@media (max-width: 768px) {
  .progress {
    width: 60px;
    height: 60px;
  }

  .progress text {
    font-size: 1rem;
  }
}
