.content {
  background: var(--popover);
  box-shadow: 0 10px 24px -6px rgb(0 0 0 / 0.16), 0 4px 8px -4px rgb(0 0 0 / 0.1);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  padding: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  min-width: 150px;
  z-index: 100;
  max-height: 50svh;
  overflow-y: auto;
}

.content > [role='menuitem'] {
  display: block;
  color: inherit;
  padding: 0.45rem 0.75rem;
  border-radius: var(--radius-sm);
  font-weight: 400;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
}

.content > [role='menuitem'] > svg {
  float: none;
  margin-right: 0.5rem;
  width: 1.18em;
  height: 1em;
  vertical-align: middle;
  fill: var(--muted-foreground);
}

.content > [role='menuitem']:hover,
.content > [role='menuitem'][data-highlighted] {
  color: inherit;
  background: var(--accent);
}
