.timeline {
  padding: 1.5rem 1rem 1.5rem 0;
  margin: 0;
  list-style: none;
  border: 0;
  border-right-width: 2px;
  border-right-style: solid;
  border-image: linear-gradient(
      to bottom,
      var(--card-bg),
      var(--separator-color) 10%,
      var(--separator-color) 90%,
      var(--card-bg)
    )
    1 100%;
  color: var(--card-text-secondary-color);
  font-weight: 300;
  height: 100%;
}

.timeline li {
  display: block;
}

.timeline li + li {
  margin-top: 1.5rem;
}

.timeline li > time {
  position: relative;
  color: var(--accent-color-d1);
}

.timeline li > time:before {
  content: '';
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  right: -1.5rem;
  top: 50%;
  margin-top: -0.5rem;
  background-color: var(--card-text-secondary-color);
  border-radius: 100%;
  border: 3px solid var(--card-bg);
}

.timeline li > small {
  display: block;
  line-height: 1;
}

.timeline li > small + small {
  margin-top: 1.5rem;
}

.timelineWrapper {
  position: relative;
  flex: 1;
}
