.button {
  font-size: 1rem;
  background: none;
  border: none;
  border-radius: 0.28571429rem;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
  padding: 0.65em 0.92857143em;
  color: inherit;
}

.button > svg {
  width: 1.25em;
  vertical-align: middle;
  display: inline-block;
  fill: #718096;
}

.button:hover,
.button:focus {
  background-color: #e2e8f0;
}

.button:active,
.button.isActive {
  background-color: #cbd5e0;
}

.button:hover > svg,
.button:focus > svg {
  fill: #718096;
}
