.redisStats {
  padding: 0 0.5rem;
  margin: 0;
  list-style: none;
  font-weight: 200;
}

.redisStats > li {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.redisStats > li > span:first-child {
  color: #718096;
}

.redisStats > li small {
  margin-inline-end: 1rem;
}

.stats > div {
  text-align: center;
  margin: 0 0.5rem;
  position: relative;
}

.stats span {
  display: block;
  font-size: 1.44rem;
  margin-top: 0.125em;
}

.stats small {
  position: absolute;
  white-space: nowrap;
  left: 0;
}
