.content {
  width: var(--anchor-width, 100%);
}

.container {
  position: relative;
}

.trigger {
  display: flex;
  outline: none;
  width: 100%;
  flex: 1;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}

.separator {
  height: 1px;
  background: var(--border);
  margin: 0.25rem 0;
}

.item {
  display: flex !important;
  align-items: center;
}

.item.active {
  background-color: var(--state-selected);
  color: var(--state-selected-foreground);
  font-weight: 500;
}

.item.active:hover {
  background-color: var(--state-selected-hover);
}

.queueName {
  display: inline-block;
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.queueStats {
  margin-left: auto;
  padding: 0.225rem 0.375rem;
  line-height: 1em;
  background: var(--muted);
  color: var(--muted-foreground);
  font-size: 0.75rem;
  border-radius: 9999px;
  flex-shrink: 0;
}
