:global([data-radix-menu-content]) {
  width: var(--radix-dropdown-menu-trigger-width) !important;
  max-width: calc(100vw - 2rem) !important;
  overflow: hidden;
}

/* Prevent Radix scroll compensation on mobile */
:global(html body[data-scroll-locked]) {
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important;
}

.container {
  position: relative;
}

.trigger {
  display: flex;
  outline: none;
  width: 100%;
  flex: 1;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}
.separator {
  height: 1px;
  background: var(--dropdown-border-color);
  margin: 0.25rem 0;
}

.item {
  display: flex !important;
  align-items: center;
}

.item.active {
  background-color: var(--button-default-active-bg);
  font-weight: 500;
}

.queueName {
  display: inline-block;
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.queueStats {
  margin-left: auto;
  padding: 0.225rem 0.375rem;
  line-height: 1em;
  background: var(--badge-bg);
  color: var(--badge-text-color);
  font-size: 0.75rem;
  border-radius: 9999px;
  flex-shrink: 0;
}
