.dropdown {
  background: var(--dropdown-bg);
  box-shadow: var(--dropdown-shadow);
  border: 1px solid var(--dropdown-border-color);
  border-radius: 0.28571429rem;
  padding: 0.25rem 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  min-width: 150px;
  z-index: 100;
}

.item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: inherit;
  padding: 0.5rem 1rem;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
}

.item:hover {
  background: var(--button-default-hover-bg);
}

.item > svg {
  width: 1.1em;
  height: 1.1em;
  fill: var(--button-icon-fill);
  flex-shrink: 0;
}

.subTrigger {
  composes: item;
  width: 100%;
  background: none;
  border: none;
  font: inherit;
  color: inherit;
}

.subTrigger[data-state='open'] {
  background: var(--button-default-hover-bg);
}

.subTrigger:focus-visible,
.subTrigger:focus {
  outline: none;
}

.subDropdown {
  composes: dropdown;
}

.subItem {
  composes: item;
}

.subItem:focus-visible,
.subItem:focus {
  outline: none;
}

.subItem > svg {
  width: 0.75em;
  height: 0.75em;
}
