.actions {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.actions > li + li {
  margin-left: 0.25rem;
}

.actions .button > svg {
  fill: var(--card-text-secondary-color);
}

.actions .button:hover > svg,
.actions .button:focus > svg {
  fill: var(--accent-color-d1);
}

.content {
  background: var(--dropdown-bg);
  box-shadow: var(--dropdown-shadow);
  border: 1px solid var(--dropdown-border-color);
  border-radius: 0.28571429rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  min-width: 150px;
  z-index: 100;
}

.content [role='menuitem'] {
  display: block;
  color: inherit;
  padding: 0.5rem 1rem;
  font-weight: 400;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  padding-right: 2rem;
}

.content [role='menuitem'] > svg {
  position: absolute;
  right: 0;
  top: 0.7rem;
  width: 1.2em;
  height: 1em;
  vertical-align: middle;
  fill: var(--button-icon-fill);
}

.content [role='menuitem']:hover {
  color: inherit;
  background: var(--button-default-hover-bg);
}
