<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Bull Dashboard</title>
  </head>
  <body>
    <div id="root" data-base-path="<%= basePath %>">Loading...</div>
    <script src="<%= basePath %>/static/bundle.js"></script>
  </body>
</html>
