.jobActions {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.jobActions li + li {
    margin-left: 0.5rem;
}

.jobActions .button {
    padding: 0.5rem;
}

.dark {
    background-color: #1a1a1a;
    color: white;
}

.dark ul li {
    color: white;
    background-color: #1a1a1a;
}

.dark .jobActions .button {
    background-color: #1a1a1a;
    color: white;
}

