.details {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tabActions {
  list-style: none;
  padding: 0;
  margin: 1rem 0 2rem;
  display: flex;
}

.tabActions li + li {
  margin-left: 0.75rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.tabContent::-webkit-scrollbar {
  display: none;
}

.tabContent {
  flex: 1;
  max-width: calc(100% - 80px);
  overflow-y: scroll;
  position: relative;
  
  /* Hide scrollbar for Firefox, IE and Edge */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.tabContent :global(.error) {
  color: #d73a49;
}

.tabContent :global(.warn) {
    color: orange;
}

.tabContent pre {
  margin: 0;
}
