.trigger {
  padding: 0.5em 0.65em;
  margin-bottom: 0.25em;
  justify-self: flex-end;
}

.content {
  background: #fff;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 0.28571429rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  min-width: 150px;
  z-index: 100;
}

.item {
  display: block;
  color: rgba(0, 0, 0, 0.87);
  padding: 0.5rem 1rem;
  font-weight: 400;
  white-space: nowrap;
  cursor: pointer;
}

.item > svg {
  float: none;
  margin-right: 0.5rem;
  width: 1.18em;
  height: 1em;
  vertical-align: middle;
  fill: #718096;
}

.item:hover {
  color: rgba(0, 0, 0, 0.95);
  background: #e2e8f0;
}

.dark {
  background: #1a202c;
  border-color: #2d3748;
}

.dark div {
  color: white;
}

.dark .content {
  background: #1a202c;
  border-color: #2d3748;
}

.dark .item > svg {
  fill: #cbd5e0;
}

.dark .item:hover {
  background: #2d3748;
  color: white;
}

.item:hover > svg {
  fill: #ffffff;
}

.item:active {
  background: #cbd5e0;
}

.dark .item:active {
  background: #2d3748;
}

.item:active > svg {
  fill: #cbd5e0;
}

.item.disabled {
  color: rgba(0, 0, 0, 0.4);
  cursor: not-allowed;
}

.item.disabled:hover {
  background: #fff;
}

.dark .item.disabled:hover {
  background: #1a202c;
}